{{define "body_content"}}
<div class="card" style="width: 40rem;margin:auto;">
    <div class="card-top" style="padding: 1.25rem;background-color: wheat;color: white">
        <h4>เพิ่มกิจกรรม</h4>
    </div>
    <div class="card-body">
        <form action="/activity/{{if .A}}{{ .A.ID }}{{end}}" method="post">
            <div class="form-group">
                <label for="inputName">Name</label>
                <input type="text" class="form-control" name="name" id="inputName" placeholder="Enter Activity Name" value="{{if .A}}{{ .A.Name }}{{end}}">
            </div>
            <div class="form-group">
                <label for="inputDescription">Description</label>
                <textarea class="form-control" id="inputDescription" name="description" placeholder="Add Description"
                    rows="5" id="comment">{{if .A}}{{ .A.Description }}{{end}}</textarea>
            </div>
            <div class="row">
                <div class="form-group col-md-10">
                    <label for="inputSpeaker">Speaker</label>
                    <input type="text" class="form-control" name="speaker" id="inputSpeaker" placeholder="Speaker Name" value="{{if .A}}{{ .A.Speaker }}{{end}}">
                </div>   
                <div class="form-group col-md-2">
                    <label for="inputMax">Limit</label>
                    <input type="number" class="form-control" name="max" id="inputMax" placeholder="Limit" value="{{if .A}}{{ .A.Maxjoin }}{{end}}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputLocation">Location</label>
                <input type="text" class="form-control" name="location" id="inputLocation" placeholder="Enter Activity Location" value="{{if .A}}{{ .A.Location }}{{end}}">
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputLocation">Date</label>
                    <input type="text" class="form-control" name="daterange" value="" value="{{if .A}}{{ .A.StartDate }} - {{ .A.EndDate }}{{end}}"/>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputLocation">Time</label>
                    <input type="text" class="form-control" name="timerange" value="" value="{{if .A}}{{ .A.StartTime }} - {{ .A.EndTime }}{{end}}"/>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{{end}}