{{define "body_content"}}
<br>
<div class="card" style="max-width: 550px;">
    <div class="card-top">
        <h4>รายละเอียด</h4>
    </div>
    <div class="card-body">
        <table style="text-align: left;">
            <tr>
                <th>ชื่อกิจกรรม</th>
                <td>{{ .A.Name }}</td>
            </tr>
            <tr>
                <th>รายละเอียด</th>
                <td>{{ .A.Description }}</td>
            </tr>
            <tr>
                <th>ผู้บรรยาย</th>
                <td>{{ .A.Speaker }}</td>
            </tr>
            <tr>
                <th>จำนวนสูงสุด</th>
                <td>{{ .A.Maxjoin }} คน</td>
            </tr>
            <tr>
                <th>สถานที่</th>
                <td>{{ .A.Location }}</td>
            </tr>
            <tr>
                <th>วัน</th>
                <td>{{ .Date }}</td>
            </tr>
            <tr>
                <th>เวลา</th>
                <td>{{ .Time }}</td>
            </tr>
            <tr>
                <th>จำนวน</th>
                <td>{{if eq .A.Maxjoin 0}}ไม่จำกัด{{else}}{{ .A.Amount }}/{{ .A.Maxjoin }}{{if eq .A.Maxjoin .A.Amount}}
                    เต็ม{{end}}{{end}}</td>
            </tr>
        </table>
        <br>

        <h4 {{ if ge .A.Amount .A.Maxjoin }}{{ if ne .A.Maxjoin 0 }}hidden{{end}}{{end}}>ลงทะเบียน</h4>
        <form action="/pinact/{{ .ID }}" method="post" {{ if ge .A.Amount .A.Maxjoin }}{{ if ne .A.Maxjoin 0 }}hidden{{end}}{{end}}>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="inputSpeaker">ชื่อนามสกุล</label>
                    <input type="text" class="form-control" name="name" placeholder="ใส่ชื่อ">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputMax">รหัสพนักงาน</label>
                    <input type="number" class="form-control" name="employeeid" placeholder="ใส่รหัสพนักงาน">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputMax">เบอณืโทรศัพท์</label>
                    <input type="number" class="form-control" name="phone" placeholder="ใส่เบอร์โทรศัพท์">
                </div>
            </div>

            <button type="submit">ลงทะเบียน</button>
        </form>
        <br>
        <h4>ถอยการลงทะเบียน</h4>
        <form action="/unpinact/{{ .ID }}" method="post">
            <div class="row justify-content-md-center">
                <div class="form-group col-md-4">
                    <label for="inputMax">รหัสพนักงาน</label>
                    <input type="number" class="form-control" name="employeeid" placeholder="ใส่รหัสพนักงาน">
                </div>
            </div>

            <button type="submit">ลงทะเบียน</button>
        </form>
    </div>
</div>
{{end}}