{{define "body_content"}}
<script src="https://momentjs.com/downloads/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script>
    $(function () {
        $('input[name="daterange"]').daterangepicker({}, function (start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
        $('input[name="timerange"]').daterangepicker({
            timePicker: true,
            timePickerIncrement: 1,
            locale: {
                format: 'hh:mm a'
            }
        }).on('show.daterangepicker', function (ev, picker) {
            picker.container.find(".calendar-table").hide();
        });
    });

</script>
<br>
<div class="card" style="max-width: 550px;">
    <div class="card-top">
        <h4>{{if eq .Mode "add"}}เพิ่มกิจกรรม{{else}}แก้ไขกิจกรรม{{end}}</h4>
    </div>
    <div class="card-body">
        <form action='/activity{{if eq .Mode "edit"}}/{{ .A.ID }}{{end}}' method="post">
            <div class="form-group">
                <label for="inputName">ชื่อกิจกรรม</label>
                <input type="text" class="form-control" name="name" id="inputName" placeholder="ใส่ชื่อกิจกรรม" value="{{if .A}}{{ .A.Name }}{{end}}">
            </div>
            <div class="form-group">
                <label for="inputDescription">รายละเอียด</label>
                <textarea class="form-control" id="inputDescription" name="description" placeholder="ใส่รายระเอียด"
                    rows="5" id="comment">{{if .A}}{{ .A.Description }}{{end}}</textarea>
            </div>
            <div class="row">
                <div class="form-group col-md-9">
                    <label for="inputSpeaker">ผู้บรรยาย</label>
                    <input type="text" class="form-control" name="speaker" id="inputSpeaker" placeholder="ใส่ชื่อผู้บรรยาย"
                        value="{{if .A}}{{ .A.Speaker }}{{end}}">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputMax">จำนวน</label>
                    <input type="number" class="form-control" name="max" id="inputMax" placeholder="จำนวน" value="{{if .A}}{{ .A.Maxjoin }}{{end}}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputLocation">สถานที่</label>
                <input type="text" class="form-control" name="location" id="inputLocation" placeholder="ใส่สถานที่"
                    value="{{if .A}}{{ .A.Location }}{{end}}">
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputLocation">ช่วงวัน</label>
                    <input type="text" class="form-control" name="daterange" value="{{if .A}}{{ .Date }}{{end}}" />
                </div>
                <div class="form-group col-md-6">
                    <label for="inputLocation">ช่วงเวลา</label>
                    <input type="text" class="form-control" name="timerange" value="{{if .A}}{{ .Time }}{{end}}" />
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{{end}}