{{define "body_content"}}
<div class="container">
    <a href="add_activity"><button type="button" class="btn btn-outline-dark"><span class="glyphicon glyphicon-plus"
                aria-hidden="true"></span>Add</button></a>
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Limit</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{range .Posts}}
            <tr>
                <td>{{.Name}} รุ่น{{.Round}}</td>
                <td>{{.Description}}</td>
                <td>{{.Maxjoin}}</td>
                <td><a href="activity/{{.ID}}"><button class="btn btn-primary">edit</button></a></td>
                <td><a href="activity/{{.ID}}"><button class="btn btn-primary">edit</button></a></td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
{{end}}