{{define "body_content"}}
<script>
    function deleteAct(id) {
        if (confirm('ยืนยันที่จะลบ กิจกรรมนี้')) {
            window.location.replace("activity/del/" + id);
        }
    }

    $(function () {
        $('#example').DataTable({
        "order": [[ 0, "desc" ]]
    } );
    });
</script>
<style>td { white-space:pre }</style>
<br>
<br>
<div class="card">
        <div class="card-top">
                <h4>กิจกรรม</h4>
            </div>
            <br>
    <a href="add_activity"><button type="button" style="float: right;"><span class="glyphicon glyphicon-plus"
                aria-hidden="true"></span>เพิ่ม</button></a>
    <br>
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>วัน</th>
                <th>เวลา</th>
                <th>กิจกรรม</th>
                <th>รายละเอียด</th>
                <th>จำนวน</th>
                <th>ปุ่ม</th>
            </tr>
        </thead>
        <tbody>
            {{range .Posts}}
            <tr>
                <td>{{.DateRange}}</td>
                <td>{{.TimeRange}}</td>
                <td>{{.Name}}{{if ne .MaxRound 1}} รุ่น{{.Round}}{{end}}</td>
                <td>{{.Description}}</td>
                <td>{{if eq .Maxjoin 0}}ไม่จำกัด{{else}}{{ .Amount }}/{{.Maxjoin}}{{if ge .Amount .Maxjoin }}
                    เต็ม{{end}}{{end}}</td>
                <td><a href="pin_activity/{{.ID}}"><button>รายละเอียด</button></a>
                    {{if $.Admin}}
                    <a href="edit_activity/{{.ID}}"><button>แก้ไข</button></a>
                    <button onclick="deleteAct('{{.ID}}')">ลบ</button></td>
                {{end}}
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
{{end}}